# 히스토리, 세션 데이터
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history

# 환경변수 (API 키나 DB 비번)
.env
.DS_Store


# 패키지/환경 관리
renv/library/
renv/local/
renv/python/
renv/staging/


# -----
# project 추가
raw.csv
/data_before/

# Log files (keep folder, ignore txt)
log/*.txt